## Variables and Data Types

In [18]:
x = 3
print(type(x))
y = "a"
print(type(y))
z = 1.23
print(type(z))
x1 = True
print(type(x1))
x2 = "true"
print(type(x2))
# a
# type(a) This will throw an error

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

### Strings

In [19]:
'Jack'

'Jack'

In [20]:
"Jack"

'Jack'

In [21]:
print('Jack')

Jack

In [22]:
print("Jack")

Jack

In [23]:
int(1.2)

1

In [24]:
int(1.2)

1

In [25]:
# int('Deepika') Will throw an Error

ValueError: invalid literal for int() with base 10: 'Deepika'

In [26]:
print('Vatican', 'Cameos')

Vatican Cameos

In [27]:
print('Vatican' 'Cameos')

VaticanCameos

In [28]:
"I'm Deepika"

"I'm Deepika"

## Arithematic Operators

In [29]:
16/3

5.333333333333333

In [30]:
16%3

1

In [33]:
2 ** 5

32

In [34]:
x =1
x==1

True

In [35]:
'Jack' == "Jack"

True

In [36]:
"Vatican"[3]

'i'

### Logical Operator

In [37]:
True and True

True

In [38]:
True or False

True

In [39]:
not True

False

In [40]:
True and not True

False

In [44]:
False or not True and True

False

In [45]:
True and not True or True

True

Identity Operators

In [46]:
5 is 6

False

In [48]:
5 is not 6

True

### Functions

In [52]:
def simple():
    print("Hello There")
simple()

Hello There

In [54]:
def plus_ten(a: int):
    return a+10
plus_ten(2)

12

In [56]:
def add_10(a: int):
    res = a +10
    print("Result")
    return res
add_10(4)

Result

14

In [60]:
def wage(w_hrs: int):
    return w_hrs * 25
def with_bonus(w_hrs: int):
    return wage(w_hrs) + 50
wage(50), with_bonus(50)

(1250, 1300)

### Sequences

In [72]:
x = [0,1,2,3,4]

In [65]:
x[1]

1

In [66]:
x[-1]

4

In [69]:
x[2] = 2.2
x

[0, 1, 2.2, 3, 4]

In [79]:
del x[-1]
x

[0, 1, 2, 4, 5]

In [80]:
x.append(6)
x

[0, 1, 2, 4, 5, 6]

In [82]:
x.extend([7,8,9])
x

[0, 1, 2, 4, 5, 6, 7, 8, 9]

In [85]:
len(x)
# len(x[3]) Gives an Error

9

In [86]:
participants = ['Jack', 'Jill', 'Dave', 'Aria', 'Liam']
participants

['Jack', 'Jill', 'Dave', 'Aria', 'Liam']

In [87]:
participants[1:3]

['Jill', 'Dave']

In [89]:
participants[:2]

['Jack', 'Jill']

In [90]:
participants[:-2]

['Jack', 'Jill', 'Dave']

In [91]:
participants.index("Dave")

2

In [93]:
participants.sort()
participants

['Aria', 'Dave', 'Jack', 'Jill', 'Liam']

In [94]:
participants.sort(reverse=True)
participants

['Liam', 'Jill', 'Jack', 'Dave', 'Aria']

### Tuples
Type of Data Sequences that are immutable

Default Sequence Type in Python

In [95]:
x = (40,43,24)
type(x)

tuple

In [99]:
y = 12,45,32
type(y)

tuple

### Dictionaries
Key Value Pair

In [101]:
sample_dict = {"k1":1, "k2":2,"k3":3}
sample_dict

{'k1': 1, 'k2': 2, 'k3': 3}

In [102]:
sample_dict['k1']

1

In [104]:
sample_dict["k10"]=10
sample_dict

{'k1': 1, 'k2': 2, 'k3': 3, 'k10': 10}

In [107]:
dept = {"dep1":'Jack', "dep2":["Jill","John"]}

In [108]:
dept["dep2"]

['Jill', 'John']

In [109]:
dept.get('dep1')

'Jack'

## Iterations

In [115]:
even = [0,2,4,6,8,10]
for n in even:
    print(n)
for n in even:
    print(n , end= " ")
for n in even:
    print(n , end= "-")

0
2
4
6
8
10
0 2 4 6 8 10 0-2-4-6-8-10-

In [118]:
i = 0
while i <= 5:
    print(i, end=" ")
    i += 1

0 1 2 3 4 5

## range(start, stop, step)
start - most important
start - 2nd most
step least

In [119]:
range(5)

range(0, 5)

In [120]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
range(2,6)

range(2, 6)

In [122]:
list(range(2,6))

[2, 3, 4, 5]

In [123]:
range(1,20,4)

range(1, 20, 4)

In [124]:
list(range(1,20,4))

[1, 5, 9, 13, 17]

In [126]:
# list(range(a,z)) Will throw an error

### Iterating Dictionaries

In [128]:
months = {"Jan" :1,"Feb":2, "March":3}
days = {"Jan" :31,"Feb":28, "March":31}
for i in months:
    print(months[i] ,"-", days[i])

1 - 31
2 - 28
3 - 31

## Importing Modules

In [129]:
import math
math.sqrt(16)

4.0

In [132]:
import math as m
m.sqrt(16)

4.0

In [133]:
from math import sqrt
sqrt(16)

4.0

In [134]:
from math import sqrt as sq
sq(16)

4.0

In [135]:
from math import *
sqrt(16)

4.0